 <!doctype HTML>
<html>
  <head>  <title> Self Defense </title>
  <link rel = "stylesheet" type = "text/css"  href= "css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <h2>   Self Defense Form </h2>
  <form method = "post" action="/respond">
    <ul>
      <li> <label> What is your experience level at fighting? </label> </li>
<ul>
  <li> <input type="radio" name="level" value="beginner">Beginner<br> </li>
  <li> <input type="radio" name="level" value="advanced">Advanced </li>
      </ul>
  <li> <label> What technique are you looking to learn? </label> </li>
      <ul>
        <li> <input type="radio" name="technique" value="striking">Striking </li>
        <li> <input type="radio" name="technique" value="grappling">Grappling </li>
      </ul>
      <li> <label> What body part do you want affect? </label> </li>
      <ul>
        <li> <input type="radio" name="body_part" value="head">Head </li>
        <li> <input type="radio" name="body_part" value="mid_section">Mid Section </li>
        <li> <input type="radio" name="body_part" value="legs">Legs </li>
      </ul>
    </ul>
<input type="submit">

    </form>
    <div class="logo"><img src="images/the-flatiron-school-logo-sm-black.png"></div>

  </body>
</html>
