<img src = "images/<%=@image%>">
<head> <title> Insert Attack here </title> </head>
  <body>
    <h2> Squacoon Response Page </h2>
    <h4> You have chosen </h4>
    <img src="" alt="Thing here">
    <div class="description"><p>Instructions here</p></div>
    <button onclick="goBack()">Go Back</button>
    <script>
    function goBack() {
    window.history.back();
    }
    </script>