<!doctype HTML>
<html>
  <head> 
    <title> Insert Attack here </title> 
    <link rel="stylesheet" type="text/css" href="css/respondstyle.css">
  </head>
  <body>
    <h2> <%=@title%> </h2>
    <h4> <%=@chosen%> </h4>
    <img src = "images/<%=@image%>">
    <div class="description"><p><%=@instructions%></p></div>
    <button onclick="goBack()">Go Back</button>
    <script>
    function goBack() {
    window.history.back();
    }
    </script>
  </body>
</html>